<html>
    <body>
        <a href="/cards/new" class="btn btn-primary navbar-btn">New Card</a>
        <a href="/randomcard" class="btn btn-primary navbar-btn">Random Card</a>

        Study Cards:

        <div class="container">
        {{{body}}}
        </div>

    </body>
</html>